.matches {
    background-color: white;
    padding: 0 1rem;
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    .title{
        font-weight: 700;
    }
    .matches-slider {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding:1rem 0;
        .match {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            background-color: red;
        }
        margin-bottom: 1rem;
    }

}